<h1>Stories</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags body}}</p>
                <div class="chip">
                    <img src="{{user.image}}" alt="user image" class="circle">
                    <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/stories/{{_id}}" class="btn gray">Read More...</a>
            </div>
        </div>
    </div>
    {{else}}
        <h3>No Stories</h3>
        <p>create some stories to view and share</p>
    {{/each}}
</div>